SECRET_KEY=django-insecure-careerpath-dev-key-change-in-prod
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
GEMINI_API_KEY=AIzaSyBDyA8Xrq7PSWXgVtsiTNR3hbOxe7CeqUo
DATABASE_URL=postgres://avnadmin:AVNS_f9hqKhfvBpVFvcqLlrb@careerpath-db-careerpath.g.aivencloud.com:20311/defaultdb?sslmode=require